{% extends 'base.html' %}

{% block header %}
  <head>
    <script type = "text/javascript" > 
      function getCountdown(date) {
        var deadline = new Date(date);
        var today =  new Date(Date.now());
        var modulo = 12 % 9
        var Difference_In_Minutes = parseInt(deadline.getTime()-today.getTime())/(60*1000);
        var days = parseInt(Difference_In_Minutes / (60*24));
        var hours = parseInt((Difference_In_Minutes % (60*24)) / 60);
        var minutes = parseInt((Difference_In_Minutes % (60*24)) % 60);
        var timeLeft = days+" days, "+hours+" hours, "+minutes+" minutes";
        return timeLeft
      }
    </script> 
  </head>

  <h1>{% block title %}Your Bids{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for bid in bids %}
    <article class="post"> 
        <header>
            <div>
                <h1>{{ bid.val()['title'] }}</h1>
                <div class="about">by {{ g.user.username }} on {{ utcFromTimestamp(bid.val()['timestamp']).strftime('%Y-%m-%d')  }} at {{ utcFromTimestamp(bid.val()['timestamp']).strftime('%H:%M') }}</div>
            </div>
        </header>
        <p class="body">{{ bid.val()['body'] }}</p>
        <div class="about">Tags: (tags einfügen) <br> Budget: {{ bid.val()['budget'] }}$ <br> Payment: {{ bid.val()['payment'] }} <br> Deadline in <span id="timeLeft"></span></div>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}