{% extends 'base.html' %}

{% block header %}
    <head>
       <title>{% block title %} Dashboard {% endblock %}</title>
    </head>

    <nav id="dashboard-nav" class="shadow p-3 navbar navbar-light bg-light rounded" style="margin-bottom: 20px; margin-top: 20px">
        <a class="navbar-brand" href="#">Dashboard</a>
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="post-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Active Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bid-tab" data-toggle="tab" href="#bids" role="tab" aria-controls="bids" aria-selected="false">Active Bids</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="inbox-tab" data-toggle="tab" href="#inbox" role="tab" aria-controls="inbox" aria-selected="false">Active Bids</a>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block fullcontent%}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane active" id="posts" role="tabpanel" aria-labelledby="home-tab">
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Created At</th>
                <th scope="col">Deadline</th>
                <th scope="col">Bids</th>
                <th scope="col">FAQs</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td scope="row">
                            <a href="/me/post/{{post['id']}}">{{post['title']}}</a>
                        </td>
                        <td>{{post['timestamp']}}</td>
                        <td>{{post['deadline']}}</td>
                        <td>{{post['bids']}}</td>
                        <td>{{post['faqs']}} {% if post['unseen_faqs'] > 0 %} {{post['unseen_faqs']}} {% endif %}</td>
                        <td>Options</td>
                     </tr>
                {% endfor %}
              

            </tbody>
          </table>
    </div>
    <div class="tab-pane fade" id="bids" role="tabpanel" aria-labelledby="bid-tab">
        Empty
    </div>
    <div class="tab-pane fade" id="inbox" role="tabpanel" aria-labelledby="bid-tab">this is inbox</div>
</div>
{% endblock %}