{% extends 'base.html' %}

{% block header %}
  <head>
      <script type = "text/javascript" > 
        function getCountdown(date) {
          var deadline = new Date(date);
          var today =  new Date(Date.now());
          var modulo = 12 % 9
          var Difference_In_Minutes = parseInt(deadline.getTime()-today.getTime())/(60*1000);
          var days = parseInt(Difference_In_Minutes / (60*24));
          var hours = parseInt((Difference_In_Minutes % (60*24)) / 60);
          var minutes = parseInt((Difference_In_Minutes % (60*24)) % 60);
          var timeLeft = days+" days, "+hours+" hours, "+minutes+" minutes";
          return timeLeft
        }
      </script>
  </head>

  <h1>{% block title %}Your Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('marketplace.create') }}">New Post</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
  <div class="card">
      <div class="header">
        <span class="title">
            {{ post.val()['title'] }}
        </span>
        <span class="price">
          <i class="fas fa-dollar-sign"></i>{{ post.val()['budget'] }}
        </span>
      </div>
      <hr>
      <div class="about">
        <span class="author"> <a href="/user/1">@{{ g.user['displayName'] }}</a> · {{ utcFromTimestamp(post.val()['timestamp']).strftime('%Y-%m-%d')  }} at {{ utcFromTimestamp(post.val()['timestamp']).strftime('%H:%M') }} <span>
        <span class="deadline"> <script>document.write(getCountdown("{{ post.val()['deadline'] }}"))</script> </span>
        {% if g.user %}
          <div class="dropdown" style="float:right;">
            <button class="dropbtn"><i class="fas fa-chevron-down"></i></button>
            <div class="dropdown-content" style="right:0;">
              {% if g.user['localId'] == post.val()['author'] %}
                <a class="action" href="{{ url_for('me.post', id=post.key()) }}">View</a><br>
                <a class="action" href="{{ url_for('marketplace.update', id=post.key()) }}">Edit</a>
              {% else %}
                <a class="action" href="{{ url_for('marketplace.bid', id=post.key()) }}">Bid</a>
              {% endif %}
          </div>
          </div>
          {% endif %}
      </div>
    
      <hr>
      <div class="body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
      <hr>
      <div class="detail">
        <ul class="tags">
          <li><a>Python</a></li>
          <li><a>Flask</a></li>
          <li><a>HTML</a></li>
          <li><a>CSS</a></li>
        </ul>
      </div>
    </div>
  {% endfor %}
{% endblock %}