<!doctype html>
<script src="https://kit.fontawesome.com/7eaafe9159.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">

<title>{% block title %}{% endblock %} - guacamole</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="navbar">
    <a href="/marketplace">Marketplace</a>
    {% if g.user %}
      <a href="/me/dashboard">Dashboard</a>
      <a href="/me/orders">Orders</a>
      <div class="dropdown">
        <button class="dropbtn">Account 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/me"> Profile </a>
          <a href="/me/posts"> My Posts </a>
          <a href="/me/bids"> My Bids </a>
          <hr>
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
        </div>
      </div>
    {% else %} 
      <a style="float: right;" href="/auth/register">Sign Up</a>
      <a style="float: right;" href="/auth/login">Sign In</a>
    {% endif %}
  </div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
