{% extends 'base.html' %}

{% block title %}Marketplace{% endblock %}

{% block header %}
<meta id="user_id" content="{{g.user.localId}}">
<div class="row">
  <div class="col">
    <h2>Marketplace</h2>
  </div>
  <div class="col-3">
    <div class="flex-row">
      {% if g.user %}
      <a class="btn btn-primary" href="/me/posts" style="margin-left: 10px">My Posts</a>
      {% endif %}
      <a class="btn btn-primary" href="/marketplace/create" style="margin-left: 10px">Create New</a>
    </div>
  </div>
</div>

<template id="post_template">
    <div class="shadow-sm card" style="width: 100%; margin-bottom: 10px" id="post_id">
        <div class="card-body">
            <div class="row card-title" style="width: 100%">
                <div class="col-sm-9"> 
                    <h5 id="post_title">TITLE</h5>
                </div>
                <div class="col-sm-3">
                    <h5>
                        <span class="pull-right">
                        <i class="fas fa-dollar-sign"></i> 
                        <span id="post_budget">BUDGET</span>
                        </span>
                    </h5>
                </div>
            </div>
            <a href="" id=post_user></a>
            <span id=post_date></span>
            <hr>
            <p class="card-text" id="post_body">BODY</p>
        </div>
        <ul class="list-group list-group-flush">
            <hr>
            <li class="list-group-item">
              <div class="d-flex justify-content-center">
                  <div class="m-1 flex-column justify-content-center">
                    <div class="text-center countdown-number" id="post_deadline_days">
                      
                    </div>
                    <div class="countdown-text">days</div>
                  </div>
                  <div class="m-1 flex-column justify-content-center">
                    <div class="text-center countdown-number" id="post_deadline_hours">
                    </div>
                    <div class="countdown-text">hours</div>
                  </div>
                  <div class="m-1 flex-column justify-content-center">
                    <div class="text-center countdown-number" id="post_deadline_minutes">
                    </div>
                    <div class="countdown-text">mins</div>
                  </div>
                  
              </div>
            </li>
        </ul>
        <div class="card-body">
            {% if g.user %}
                <span class="btn-group"></span>
                    <button class="btn btn-primary shadow-none" type="button" data-toggle="collapse" data-target="#askFAQ" aria-expanded="false" aria-controls="collapseExample">
                        FAQ
                    </button>
                    <a class="btn btn-secondary" href="" id="post_btn_action">ACTION</a></button>
                </span>
            {% endif %}
        </div>
    </div>
</template>

<script>
    function getPosts() {
        var sorting = document.getElementById("sortingOption").value;;
        if (document.getElementById("sortingOption").value != null) {
            document.getElementById("sortingOption").value;
        }
        switch(sorting) {
            case 'most recent': 
                sorting = "timestamp"; 
                break;
            case 'deadline': 
                sorting = "deadline";
                break;
            case 'reward': 
                sorting = "budget";
                break;
        }
        const data = {
            "onlyActive": true,
            "sortedBy": sorting,
            "query": null
        }
        fetch('/api/posts', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then((response) => response.json())
        .then((data) => {
            var post_list = makePostList(data['posts']);
            document.getElementById('post_list').innerHTML = "";
            document.getElementById('post_list').appendChild(post_list);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
    
    window.onload = getPosts;
</script>
{% endblock %}



{% block left %}
<div class="shadow-sm card" style="width: 100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="form-group">
            <label for="sortingOption">Sort by</label>
            <select class="browser-default custom-select" id="sortingOption" onchange="getPosts()">
              <option>most recent</option>
              <option>deadline</option>
              <option>reward</option>
            </select>
          </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="showInactiveSwitch" >
          <label class="custom-control-label" for="showInactiveSwitch">Show inactive posts</label>
        </div>
    </li>
    <li class="list-group-item"><a href="#post-Lw3w5okTivrfPkFnN67"> jump </a></li>
  </ul>
</div>
{% endblock %}
{% block content %}
    <div id='post_list'></div>
{% endblock %}
