{% extends 'base.html' %}

{% block header %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                var d = new Date();
                StartDate = new Date("March 21, 2019");
                EndDate = new Date("{{post.val()['deadline']}}");
                $('#datepicker').datepicker({
                dateFormat: "yy-mm-dd",
                minDate: 0,
                maxDate: EndDate
                });
            } );
        </script>
    </head>
    <h1>{% block title %} "{{ post.val()['title'] }}"{% endblock %}</h1> 
{% endblock %}

{% block content %}
    <div>
        <div class="about">by {{ g.user['displayName'] }} on {{ utcFromTimestamp(post.val()['timestamp']).strftime('%Y-%m-%d')  }} at {{ utcFromTimestamp(post.val()['timestamp']).strftime('%H:%M') }}</div>
        <p class="body">{{ post.val()['body'] }}</p>
        <div class="about">Tags: (tags einfügen) <br> Budget: {{ post.val()['budget'] }}$ <br> Payment: {{ post.val()['payment'] }} <br> Deadline in <span id="timeLeft"></span></div>
    </div>
    <hr>
    <div>
        <form method="post">
            <div class="row">
                <div class="col">
                  <label for="budget">Price</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" name="budget" id="budget" value="{{ request.form['budget'] }}" placeholder="10" required>
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                    </div>
                </div>
                <div class="col">
                  <label for="payment">Forms of Payment</label>
                  <input type="text" class="form-control" name="payment" id="payment" data-role="tagsinput" value="{{ request.form['payment'] }}" placeholder="PayPal, Venmo, etc" required>
                </div>
            </div>

            <div class="form-group">
                <label for="delivery">Delivery</label>
                <input class="form-control" name="delivery" id="delivery" value="{{ request.form['delivery'] }}" required>
              </div>
        
            <div class="form-group">
                <label for="body">Description</label>
                <textarea class="form-control" rows="5" id="body" placeholder="Describe what you need" required> {{ request.form['body'] }} </textarea>
            </div>
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}