{% extends "base.html" %}

{% block header %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" class="form-control" id="title" value="{{ request.form['title'] }}" placeholder="I need a script that does..." required>
    </div>
    <div class="form-group">
      <label for="deadline">Deadline</label>
      <input class="form-control" name="deadline" id="deadline" value="{{ request.form['deadline'] }}" required>
    </div>
    
    <div class="row">
      <div class="col">
        <label for="budget">Budget</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="number" class="form-control" name="budget" id="budget" value=1 min=1 max=999 placeholder="10" required>
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
          </div>
      </div>
      <div class="col">
        <label for="payment">Forms of Payment</label>
        <input type="text" class="form-control" name="payment" id="payment" data-role="tagsinput" value="{{ request.form['payment'] }}" placeholder="PayPal, Venmo, etc" required>
      </div>
    </div>
    
    <div class="form-group">
      <label for="body">Description</label>
      <textarea class="form-control" rows="5" id="body" placeholder="Describe what you need" name="body" required></textarea>

    <div class="text-center"> <button type="submit" class="btn btn-primary">Post</button> </div>
  </form>
{% endblock %}
