{% extends 'base.html' %}
{% block header %}
  <head>
      <script type = "text/javascript" > 
        function getCountdown(date) {
          var deadline = new Date(date);
          var today =  new Date(Date.now());
          var modulo = 12 % 9
          var Difference_In_Minutes = parseInt(deadline.getTime()-today.getTime())/(60*1000);
          var days = parseInt(Difference_In_Minutes / (60*24));
          var hours = parseInt((Difference_In_Minutes % (60*24)) / 60);
          var minutes = parseInt((Difference_In_Minutes % (60*24)) % 60);
          var timeLeft = "";
          if ((days != 0 || days < 0) != true) {
            timeLeft += days+" days "
          }
          if ((hours == 0 || hours < 0) != true) {
            timeLeft += ", "+hours+" hours "+minutes+" minutes";
          }
          if ((minutes != 0 || minutes < 0) != true) {
            timeLeft += ", "+minutes+" minutes";
          }
          
          
          return timeLeft
        }
      </script>
  </head>
  <nav style="margin-bottom: 20px" class="navbar navbar-dark bg-dark justify-content-between rounded-bottom">
    <a class="navbar-brand">Marketplace</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% if g.user %}
      <a class="btn btn-primary" href="{{ url_for('marketplace.create') }}">New</a>
    {% endif %}
  </nav>  
{% endblock %}

{% block title %}Marketplace{% endblock %}

{% block left %}
<div class="shadow-sm card" style="width: 100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <form class="form-inline" style="width: 100%;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 70%;">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
{% endblock %}
{% block content %}
  {% for post in posts %}
  <div class="shadow-sm card" style="width: 100%; margin-bottom: 10px">
      <div class="card-body">
        <div class="row card-title" style="width: 100%">
          <div class="col-sm-9"> <h5>{{ post.val()['title'] }}</h5></div>
            <div class="col-sm-3">
              <h5>
                <span class="pull-right">
                  <i class="fas fa-dollar-sign"></i> 
                  {{post.val()["budget"]}}
                </span>
              </h5>
            </div>
        </div>
        <a href="/user/{{post.val()['author']}}">@{{post.val()['author']}}</a> · {{ utcFromTimestamp(post.val()['timestamp']).strftime('%Y-%m-%d')  }} at {{ utcFromTimestamp(post.val()['timestamp']).strftime('%H:%M') }}
        <hr>
        <p class="card-text">{{ post.val()['body'] }}.</p>
      </div>
      <ul class="list-group list-group-flush">
        <hr>
        <li class="list-group-item"><script>document.write(getCountdown("{{ post.val()['deadline'] }}"))</script> until deadline</li>
      </ul>
      <div class="card-body">
          {% if g.user %}
          <span class="btn-group"></span>
            <button class="btn btn-primary shadow-none" type="button" data-toggle="collapse" data-target="#askFAQ{{ post.key() }}" aria-expanded="false" aria-controls="collapseExample">
              FAQ
            </button>
            <div style="margin-top: 10px" class="collapse" id="askFAQ{{ post.key() }}">
              <div class="accordion" id="accordionExample">
                  <div class="card">
                    <ul class="list-group list-group-flush">
                      {% if post.val()['faq'] is defined %}
                        {% set faqs = post.val()['faq'] %}
                        {% if faqs.keys()|length == 0 %}
                          <li class="list-group-item">
                            No Questions Answered
                          </li>
                        {% endif %}
                        {% for faqKey in faqs.keys() %}
                          {% set faq = faqs[faqKey] %}
                          <li class="list-group-item">
                            <button style="width: 100%" class="btn shadow-none collapsed" type="button" data-toggle="collapse" data-target="#collapseFAQ{{ faqKey }}" aria-expanded="false" aria-controls="collapseFAQ{{ faqKey }}">
                              <div class="float-left"><h5>{{ faq['question'] }} ?</h5></div>
                              <div class="float-right"><i class="fas fa-chevron-down"> </i></div>
                            </button>
                            <div id="collapseFAQ{{ faqKey }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <hr>
                              {{ faq['answer'] }}
                            </div> 
                          </li>
                        {% endfor %}
                      {% else %}
                      <li class="list-group-item">
                        No Questions Answered
                      </li>
                      {% endif %}
                      <li class="list-group-item">
                        <a style="width: 100%" class="btn btn-dark" href="{{ url_for('marketplace.ask', id=post.key()) }}">Ask a question</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          {% if g.user['localId'] == post.val()['author'] %}
            <a class="btn btn-primary" href="{{ url_for('me.post', id=post.key()) }}">View</a></button>
            <a class="btn btn-dark" href="{{ url_for('marketplace.update', id=post.key()) }}">Edit</a>
          {% else %}
            <a class="btn btn-primary" href="{{ url_for('marketplace.bid', id=post.key()) }}">Bid</a>
          {% endif %}
        </span>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
