{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Buyer Requests{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('marketplace.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
        
      <header>
        <div>
          <h1>{{ post.val()['title'] }}</h1>
          <div class="about">by {{ g.user['displayName'] }} on {{ utcFromTimestamp(post.val()['timestamp']).strftime('%Y-%m-%d')  }} at {{ utcFromTimestamp(post.val()['timestamp']).strftime('%H:%M') }}</div>
        </div>
        {% if g.user['localId'] == post.val()['author'] %}
          <a class="action" href="{{ url_for('marketplace.update', id=post.key()) }}">Edit</a>
        {% else %}
          <a class="action" href="{{ url_for('marketplace.bid', id=post.key()) }}">Bid</a>
        {% endif %}
      </header>
      <p class="body">{{ post.val()['body'] }}</p>
      <div class="about">Tags: (tags einfügen) <br> Budget: {{ post.val()['budget'] }}$ <br> Payment: {{ post.val()['payment'] }} <br> Deadline in <span id="timeLeft"></span></div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
