{% extends 'base.html' %}
{% block header %}
  <head>
      <script type = "text/javascript" > 
        function getCountdown(date) {
          var deadline = new Date(date);
          var today =  new Date(Date.now());
          var modulo = 12 % 9
          var Difference_In_Minutes = parseInt(deadline.getTime()-today.getTime())/(60*1000);
          var days = parseInt(Difference_In_Minutes / (60*24));
          var hours = parseInt((Difference_In_Minutes % (60*24)) / 60);
          var minutes = parseInt((Difference_In_Minutes % (60*24)) % 60);
          var timeLeft = days+" days, "+hours+" hours, "+minutes+" minutes";
          return timeLeft
        }
      </script>
  </head>
  <h1>{% block title %}Buyer Requests{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('marketplace.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ post.val()['title'] }}</h5>
        <p class="card-text">{{ post.val()['body'] }}.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/user/1">@{{ g.user['displayName'] }}</a> · {{ utcFromTimestamp(post.val()['timestamp']).strftime('%Y-%m-%d')  }} at {{ utcFromTimestamp(post.val()['timestamp']).strftime('%H:%M') }} </li>
        <li class="list-group-item"><script>document.write(getCountdown("{{ post.val()['deadline'] }}"))</script></li>
      </ul>
      <div class="card-body">
          {% if g.user %}
          {% if g.user['localId'] == post.val()['author'] %}
            <a class="card-link" href="{{ url_for('me.post', id=post.key()) }}">View</a><br>
            <a class="card-link" href="{{ url_for('marketplace.update', id=post.key()) }}">Edit</a>
          {% else %}
            <a class="card-link" href="{{ url_for('marketplace.bid', id=post.key()) }}">Bid</a>
          {% endif %}
        {% endif %}
      </div>
    </div>


  {% endfor %}
{% endblock %}
